.div-checker-password{
    margin-top: 0.5rem;
    width: 100%;
    border: 0.2rem solid #00995D;
    background-color: #ffffff6b;
    border-radius: 10px;
}

.div-title{
    margin: 0.4rem;
    font-size: 0.8rem;
    font-weight: 600;
}

.ul-grid{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 0.8rem;
    margin-bottom: 1rem;

    @media (min-width: 1280px) {
        grid-template-columns: 1fr 1fr;
    }
}

.div-flex-img{
    display: flex;
    gap: 10px;
}

.img-width{
    width: 0.8rem;
    padding-top: 0.4rem;
}

.display-none{
    display: none;
}

.div-okay{
    color: #00995D;
}

.list-style-none{
    list-style: none;
}

li{
    font-size: 0.8rem;
    margin-top: 0.4rem;
    font-style: italic;
}

@media (min-width: 768px) {
    li{
        font-size: 0.9rem;
    }
}
