<div class="div-checker-password">
    <div class="div-title">Sua senha deve conter no mínimo:</div>
    <ul class="ul-grid">
        <div class="div-flex">
            <div [ngClass]="sn_Length? 'div-flex-img':''">
                <img [ngClass]="sn_Length? 'img-width':'display-none'" src="assets/icons/check.svg">
                <li [ngClass]="sn_Length? 'div-okay list-style-none':''">8 caracteres</li>
            </div>
            <div [ngClass]="sn_Upper_Case? 'div-flex-img':''">
                <img [ngClass]="sn_Upper_Case? 'img-width':'display-none'" src="assets/icons/check.svg">
                <li [ngClass]="sn_Upper_Case? 'div-okay list-style-none':''">1 letra MAIÚSCULA</li>
            </div>
            <div [ngClass]="sn_Lower_Case? 'div-flex-img':''">
                <img [ngClass]="sn_Lower_Case? 'img-width':'display-none'" src="assets/icons/check.svg">
                <li [ngClass]="sn_Lower_Case? 'div-okay list-style-none':''">1 letra minuscula</li>
            </div>
        </div>
        <div>
            <div [ngClass]="sn_Special_Character? 'div-flex-img':''">
                <img [ngClass]="sn_Special_Character? 'img-width':'display-none'" src="assets/icons/check.svg">
                <li [ngClass]="sn_Special_Character? 'div-okay list-style-none':''">1 caractere especial (!@#$%^&*)</li>
            </div>
            <div [ngClass]="sn_Number? 'div-flex-img':''">
                <img [ngClass]="sn_Number? 'img-width':'display-none'" src="assets/icons/check.svg">
                <li [ngClass]="sn_Number? 'div-okay list-style-none':''">1 Número</li>
            </div>
            <div [ngClass]="sn_Confirm_Password? 'div-flex-img':''">
                <img [ngClass]="sn_Confirm_Password? 'img-width':'display-none'" src="assets/icons/check.svg">
                <li [ngClass]="sn_Confirm_Password? 'div-okay list-style-none':''">Confirmação da senha</li>
            </div>
        </div>
    </ul>
</div>